
<div class="container">
		
	<div class="row col-lg-offset-2 col-lg-8">
		<div class="page-header">
			<h1>TechToday </h1>		
		</div>
		<h3> // A simpler way to find tech events in Toronto TODAY // </h2>
		<h2>Events Happening On: <%= @date %></h2>	
 		<br>
 	</div>

	<div class="row col-lg-offset-2 col-lg-8">
		<div id="map-canvas"></div>		
	</div>

	<div class="row col-lg-offset-2 col-lg-8">
		<ol>
			<% @events.each do |event| %> 
				<% if @date == pretty_date(Time.at(event['time']/1000)) %>
					<li>
						<h3> <%= link_to(event['name'], event['event_url'], target: :_blank)%>	 <h3>
						<p> by <%= event['group']['name'] %><p>
						<p> Date: <%= pretty_date(Time.at(event['time']/1000)) %><p>
						<p> Time: <%= pretty_time(Time.at(event['time']/1000)) %><p>
						<p> Duration: 
							<% unless event['duration'].nil? %>
								<%= distance_of_time_in_words(event['duration']/1000) %>
							<% end %>
						<p>Venue: 
							<% unless event['venue'].nil? %>
								<%= event['venue']['name'] %>,
								<%= event['venue']['address_1'] %>,
								<%= event['venue']['city'] %>
							<% end %>
						</p>
					</li>				
				<% end %>
			<% end %>
		</ol>
	</div>	

</div>

<%= javascript_tag do %>
  window.events = <%= raw @events.map {|event| 
		unless event['venue'].nil? || pretty_date(Time.at(event['time']/1000)) != @date
  		{ latitude: event['venue']['lat'], longitude: event['venue']['lon'], eventname: event['name'] }
  	end }.to_json %>
<% end %>





